{% extends 'common/common.html' %}

{% block menu %}
    {% include 'common/menu.html' %}
{% endblock %}

{% load static %}

{% block content %}

    <form action="" method="post">
        <div class="container">
                  <div class="row">
                        <div class="inp_form_title">
                                  Enter OTP
                        </div>
                        <div align="center" style="margin-bottom: 10px;">
                                <input type="number" placeholder="OTP" name ="student_otp">
                        </div>
                        <div align="center">
                                  <input type="submit" value="Verify">
                        </div>
                  </div>
        </div>
    </form>
{% endblock %}