<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example9</title>
</head>
<body>
    <h1 align="center">Login Page</h1>
    <form method="post" action="/register/">

        {% csrf_token %}
        <table align="center" border="2" bgcolor="teal">
            <tr>
                <th colspan="2">Login</th>
            </tr>
            <tr>
                <td>User ID</td>
                <td>
                    <input type="text" placeholder="UserId" name = "x1" required>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="text" placeholder="Password" name = "x2" required>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button name="Login"> Login </button>
                </th>
            </tr>
        </table>

    </form>
</body>
</html>