{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calulator</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"></link>
</head>
<body>
    <form method = "post" action = "/index/">
        {% csrf_token %}
        <table align="center" bgcolor="#f0f8ff" border="2">
            <tr>
                <th colspan="2">1st No</th>
                <td colspan="2">
                    <input type = "number" name="f1" required>
                </td>
            </tr>
            <tr>
                <th colspan="2">2nd No</th>
                <td colspan="2">
                    <input type = "number" name="s1" required>
                </td>
            </tr>
            <tr>
                <td width="10">
                    <button type="submit" name="opr" value="add" class="_button"> + </button>
{#                    <input type = "submit" name = "opr" value="+">add</td>#}
                </td>
                <td width="50">
                    <button type="submit" name="opr" value="sub" class="_button"> - </button>
                </td>
                <td width="10">
                    <button type="submit" name="opr" value="mul" class="_button"> * </button>
                </td>
                <td width="50">
                    <button type="submit" name="opr" value="div" class="_button"> % </button>
                </td>

            </tr>
            <tr>
                <th colspan="2">Result : </th>
                <td colspan="2">
                    <input type = "number" name="display" id="display" value="{{ opr }}">
                </td>
            </tr>

        </table>
    </form>
</body>
</html>