{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>
    <form action="{% url 'update_student' student_info.number %}" method="post">
        {% csrf_token %}
        <table class="table table-dark table-hover" align="center" border="2">
            <tr>
                <th colspan="2" style="text-align: center; font-size: 40px;">
                    Update Student Information</th>
            </tr>

            <tr>
                <th rowspan="6">
                    <img src="{{ student_info.photo.url }}" style="width: 300; height: 300;margin-right: 10px; ">
                </th>
                <th>
                    Student Number : {{ student_info.number }}
                </th>
            </tr>
            <tr>
                <th>
                    Student Name : {{ student_info.name }}
                </th>
            </tr>
            <tr>
                <th>
                    Student Contact : <input type='number' value="{{ student_info.contact }}" name="student_contact"
                        required>
                </th>
            </tr>
            <tr>
                <th>
                    Student Contact : <input type='email' value="{{ student_info.email }}" name="student_email"
                        required>
                </th>
            </tr>
            <tr>
                <th>
                    Student DOB : {{ student_info.dob }}
                </th>
            </tr>
            <tr>
                <th>
                    Student Date of Regis : {{ student_info.date_of_reg }}
                </th>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="btn-danger"> Update </button>
                </th>
    </form>
    <th>
        <form action="{% url 'admin' %}">
            <button type="submit" class="btn-primary"> Cancel </button>
        </form>
    </th>
    </tr>


    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->

</body>

</html>